.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Dosis', sans-serif;
    background: -webkit-linear-gradient(#020514,#03071e, #03071eee)
}

.home img{
    padding: 10px;
    max-width: 375px;
    animation: 3s infinite flotar;
}

@keyframes flotar{
    0%{transform: translate(0,0);}
    50%{transform: translate(0, -8px);}
    100%{transform: translate(0, 0px);}
}

.home h2{
    margin: 0;
    font-size: 40px;
    color: #e5e5e5;
}

.home p{
    color: #fca311;
    font-size: 25px;
    margin: 0 0 15px;
}

